html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}


.body {
    font-family: 'Roboto', sans-serif;
    size: 18px;
    font-style: normal;
    line-height: 25.2px;
    font-weight: 400;
    align-items: center;

}
.text_publ {
    font-family: Roboto, sans-serif;
    size: 18px;
    style: normal;
    line-height: 25.2px;
    font-weight: 400;
    align-items: center;
}

/*header styles start*/
.header {
    width: 100%;
   
    
}
.frame {
    max-width: 1600px;
    margin: 0 auto;
}
.frame_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.header_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.header_item {
    margin-left: 85px;
    margin-top: 60px;
}
.header_item:first-child {
    text-decoration: underline;
}
.header_link {
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
    text-decoration: none;
}
.header_link:hover {
    opacity: 0.7;
}
.header_logo {
    margin-top: 47px;
}
/*header styles end*/


/* intro styles start*/
.intro {
    height: 100vw;
    background: url(/webdev/img/bg-image.png) no-repeat center;
    background-size: cover;
}
/*intro styles end*/